<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인화면</title>
    </head>
    <body>
        <form method="post" action="/login">
            <input type="text" name="id">
            <input type="password" name="pw">
            <button type="submit">로그인</button>
        </form>
        <form method="get" action="/signup">
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>